<!DOCTYPE html>
<html lang="id">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Terminal Python</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4.0.11/dist/index.global.js"></script>
</head>

<body class="bg-gray-500">
    <main class="grid grid-cols-2 gap-6 min-h-screen p-6">
        <!-- Section Pembelajaran -->
        <section id="learning" class="w-full p-6 bg-white rounded-lg shadow-lg">
            <h1 class="text-3xl font-bold text-gray-900 mb-2">Pembelajaran 1 - Pengenalan Python</h1>
            <h2 class="text-lg text-gray-600 mb-4">Pelajari konsep dasar pemrograman Python</h2>
            <p class="text-gray-700 text-justify">Python adalah bahasa pemrograman
                tingkat tinggi berbasis
                interpreted, object oriented, dan
                memiliki dynamic semantic serta
                dibangun dengan struktur data
                tingkat tinggi yang dikombinasikan
                dengan dynamic typing dan dynamic
                typing, membuatnya sangat menarik
                untuk Pengembangan Aplikasi Cepat,
                serta untuk digunakan sebagai
                bahasa skrip atau bahasa penghubung
                komponen-komponen yang ada.
            </p>
        </section>

        <!-- Section Coding -->
        <section id="coding" class="relative p-6 bg-gray-900 text-white rounded-lg">
            <!-- Content coding section -->
        </section>
    </main>

</body>

</html>